openapi: 3.0.0
info:
  description: |
    In this document, you'll find the steps your organization needs to take to use our API services. Included in this guide are details of request and response messages used to support your organization’s integration. The intended audience for this document are **Technical Architects**, **Development Engineers**, **Test Engineers**, and **Operation & Maintenance Engineers** involved in development and support of your organization’s integration. Setting up our API Services is best completed with the assistance of your organization’s IT team, or someone with experience and knowledge of application programming interfaces. This should include experience with **JSON payloads**, **security** and **public key infrastructure (PKI)**. This Document describes the following request and response structure of HSBCnet - Account Information API. For detail implementation guidelines, please refer to the respective section from [develop.hsbc.com](https://develop.hsbc.com/ob-api-documentation/account-information-uk-personal-v319)
  title: Account Information API
  version: 3.1.11
  x-konfig-ignore:
    potential-incorrect-type: true
servers:
- url: https://sandbox.ob.hsbcnet.com/mock/ce/obie/open-banking/v3.1/aisp
tags:
- description: Manage Account Access Consents
  name: Account Access Consents
- name: Accounts
- description: Get Scheduled Payments
  name: Scheduled Payments
- description: Get Standing Orders
  name: Standing Orders
- description: Get Transactions
  name: Transactions
- description: Get Balances
  name: Balances
- description: Get Beneficiaries
  name: Beneficiaries
- description: Get Parties
  name: Parties
- description: Get Products
  name: Products
- name: Direct Debits
paths:
  /account-access-consents:
    post:
      description: "This endpoint enables TPP to create account access consent. Supports\
        \ all product types -Personal Current Account, Savings Account, Credit Cards,\
        \ Foreign Currency Accounts, Global Money, Working Capital"
      operationId: AccountAccessConsents_createConsent
      parameters:
      - description: "The time when the PSU last logged in with the TPP. \nAll dates\
          \ in the HTTP headers are represented as RFC 7231 Full Dates. An example\
          \ is below: \nSun, 10 Sep 2017 19:43:31 UTC"
        example: "Tue, 18 Apr 2023 14:42:25 UTC"
        explode: false
        in: header
        name: x-fapi-auth-date
        required: false
        schema:
          pattern: "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)\
            \ \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
          type: string
        style: simple
        x-konfig-original-example: "Tue, 18 Apr 2023 14:42:25 UTC"
      - description: The PSU's IP address if the PSU is currently logged in with the
          TPP.
        example: 12.201.45.125
        explode: false
        in: header
        name: x-fapi-customer-ip-address
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: 12.201.45.125
      - description: An RFC4122 UID used as a correlation id.
        example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
        explode: false
        in: header
        name: x-fapi-interaction-id
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
      - description: Indicates the user-agent that the PSU is using.
        example: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36\
          \ (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36"
        explode: false
        in: header
        name: x-customer-user-agent
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)\
          \ AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OBReadConsent1'
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/OBReadConsent1'
          application/jose+jwe:
            schema:
              $ref: '#/components/schemas/OBReadConsent1'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBReadConsentResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBReadConsentResponse1'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBReadConsentResponse1'
          description: Created
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
          description: Bad request
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
          x-do-not-generate: true
        "401":
          description: Unauthorized
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              explode: false
              required: true
              schema:
                example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
                type: string
                x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
                x-konfig-generated-schema: konfig-generated-schema-components-responses-401Error-headers-x-fapi-interaction-id-schema
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
          description: Forbidden
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
          x-do-not-generate: true
        "405":
          description: Method Not Allowed
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
        "406":
          description: Not Acceptable
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: 7507f324-b4e6-43f4-8497-153930017bd9
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: 7507f324-b4e6-43f4-8497-153930017bd9
        "415":
          description: Unsupported Media Type
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: 7507f324-b4e6-43f4-8497-153930017bd9
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: 7507f324-b4e6-43f4-8497-153930017bd9
        "429":
          description: Too Many Requests
          headers:
            Retry-After:
              description: Number in seconds to wait
              explode: false
              schema:
                type: integer
              style: simple
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: 1452697e-68ff-499e-a1f2-980da8e2cea1
              explode: false
              schema:
                type: string
              style: simple
              x-konfig-original-example: 1452697e-68ff-499e-a1f2-980da8e2cea1
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              explode: false
              required: true
              schema:
                type: string
              style: simple
          x-do-not-generate: true
      security:
      - BearerAuth: []
      - TPPOAuth2Security:
        - accounts
      summary: Create Account Access Consents
      tags:
      - Account Access Consents
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--account-access-consents
      x-content-type: application/json
      x-accepts: application/json
  /account-access-consents/{ConsentId}:
    delete:
      description: This endpoint enables TPP to delete account access consent
      operationId: AccountAccessConsents_deleteConsent
      parameters:
      - description: ConsentId
        example: 7404e99b-1a4d-4b08-b441-c327661527f0
        explode: false
        in: path
        name: ConsentId
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 7404e99b-1a4d-4b08-b441-c327661527f0
      - description: "The time when the PSU last logged in with the TPP. \nAll dates\
          \ in the HTTP headers are represented as RFC 7231 Full Dates. An example\
          \ is below: \nSun, 10 Sep 2017 19:43:31 UTC"
        example: "Tue, 18 Apr 2023 14:42:25 UTC"
        explode: false
        in: header
        name: x-fapi-auth-date
        required: false
        schema:
          pattern: "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)\
            \ \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
          type: string
        style: simple
        x-konfig-original-example: "Tue, 18 Apr 2023 14:42:25 UTC"
      - description: The PSU's IP address if the PSU is currently logged in with the
          TPP.
        example: 12.201.45.125
        explode: false
        in: header
        name: x-fapi-customer-ip-address
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: 12.201.45.125
      - description: An RFC4122 UID used as a correlation id.
        example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
        explode: false
        in: header
        name: x-fapi-interaction-id
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
      - description: Indicates the user-agent that the PSU is using.
        example: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36\
          \ (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36"
        explode: false
        in: header
        name: x-customer-user-agent
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)\
          \ AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36"
      responses:
        "204":
          description: No Content
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
          description: Bad request
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
          x-do-not-generate: true
        "401":
          description: Unauthorized
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              explode: false
              required: true
              schema:
                example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
                type: string
                x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
                x-konfig-generated-schema: konfig-generated-schema-components-responses-401Error-headers-x-fapi-interaction-id-schema
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
          description: Forbidden
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
          x-do-not-generate: true
        "405":
          description: Method Not Allowed
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
        "406":
          description: Not Acceptable
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: 7507f324-b4e6-43f4-8497-153930017bd9
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: 7507f324-b4e6-43f4-8497-153930017bd9
        "429":
          description: Too Many Requests
          headers:
            Retry-After:
              description: Number in seconds to wait
              explode: false
              schema:
                type: integer
              style: simple
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: 1452697e-68ff-499e-a1f2-980da8e2cea1
              explode: false
              schema:
                type: string
              style: simple
              x-konfig-original-example: 1452697e-68ff-499e-a1f2-980da8e2cea1
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              explode: false
              required: true
              schema:
                type: string
              style: simple
          x-do-not-generate: true
      security:
      - BearerAuth: []
      - TPPOAuth2Security:
        - accounts
      summary: Delete Account Access Consents
      tags:
      - Account Access Consents
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--account-access-consents-ConsentId
      x-accepts: application/json
    get:
      description: "This endpoint enables TPP to get account access consent by ConsentId.\
        \ Supports all product types -Personal Current Account, Savings Account, Credit\
        \ Cards, Foreign Currency Accounts, Global Money Working Capital"
      operationId: AccountAccessConsents_getByConsentId
      parameters:
      - description: ConsentId
        example: 7404e99b-1a4d-4b08-b441-c327661527f0
        explode: false
        in: path
        name: ConsentId
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 7404e99b-1a4d-4b08-b441-c327661527f0
      - description: "The time when the PSU last logged in with the TPP. \nAll dates\
          \ in the HTTP headers are represented as RFC 7231 Full Dates. An example\
          \ is below: \nSun, 10 Sep 2017 19:43:31 UTC"
        example: "Tue, 18 Apr 2023 14:42:25 UTC"
        explode: false
        in: header
        name: x-fapi-auth-date
        required: false
        schema:
          pattern: "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)\
            \ \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
          type: string
        style: simple
        x-konfig-original-example: "Tue, 18 Apr 2023 14:42:25 UTC"
      - description: The PSU's IP address if the PSU is currently logged in with the
          TPP.
        example: 12.201.45.125
        explode: false
        in: header
        name: x-fapi-customer-ip-address
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: 12.201.45.125
      - description: An RFC4122 UID used as a correlation id.
        example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
        explode: false
        in: header
        name: x-fapi-interaction-id
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
      - description: Indicates the user-agent that the PSU is using.
        example: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36\
          \ (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36"
        explode: false
        in: header
        name: x-customer-user-agent
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)\
          \ AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBReadConsentResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBReadConsentResponse1'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBReadConsentResponse1'
          description: OK
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
          description: Bad request
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
          x-do-not-generate: true
        "401":
          description: Unauthorized
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              explode: false
              required: true
              schema:
                example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
                type: string
                x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
                x-konfig-generated-schema: konfig-generated-schema-components-responses-401Error-headers-x-fapi-interaction-id-schema
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
          description: Forbidden
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
          x-do-not-generate: true
        "405":
          description: Method Not Allowed
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
        "406":
          description: Not Acceptable
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: 7507f324-b4e6-43f4-8497-153930017bd9
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: 7507f324-b4e6-43f4-8497-153930017bd9
        "429":
          description: Too Many Requests
          headers:
            Retry-After:
              description: Number in seconds to wait
              explode: false
              schema:
                type: integer
              style: simple
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: 1452697e-68ff-499e-a1f2-980da8e2cea1
              explode: false
              schema:
                type: string
              style: simple
              x-konfig-original-example: 1452697e-68ff-499e-a1f2-980da8e2cea1
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              explode: false
              required: true
              schema:
                type: string
              style: simple
          x-do-not-generate: true
      security:
      - BearerAuth: []
      - TPPOAuth2Security:
        - accounts
      summary: Get Account Access Consents
      tags:
      - Account Access Consents
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--account-access-consents-ConsentId
      x-accepts: application/json
  /accounts:
    get:
      description: "This endpoint enables to get Accounts. Supports all product types\
        \ -Personal Current Account, Savings Account, Credit Cards, Foreign Currency\
        \ Accounts, Global Money, Working Capital"
      operationId: Accounts_getAll
      parameters:
      - description: "The time when the PSU last logged in with the TPP. \nAll dates\
          \ in the HTTP headers are represented as RFC 7231 Full Dates. An example\
          \ is below: \nSun, 10 Sep 2017 19:43:31 UTC"
        example: "Tue, 18 Apr 2023 14:42:25 UTC"
        explode: false
        in: header
        name: x-fapi-auth-date
        required: false
        schema:
          pattern: "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)\
            \ \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
          type: string
        style: simple
        x-konfig-original-example: "Tue, 18 Apr 2023 14:42:25 UTC"
      - description: The PSU's IP address if the PSU is currently logged in with the
          TPP.
        example: 12.201.45.125
        explode: false
        in: header
        name: x-fapi-customer-ip-address
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: 12.201.45.125
      - description: An RFC4122 UID used as a correlation id.
        example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
        explode: false
        in: header
        name: x-fapi-interaction-id
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
      - description: Indicates the user-agent that the PSU is using.
        example: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36\
          \ (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36"
        explode: false
        in: header
        name: x-customer-user-agent
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)\
          \ AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBReadAccount6'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBReadAccount6'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBReadAccount6'
          description: OK
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
          description: Bad request
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
          x-do-not-generate: true
        "401":
          description: Unauthorized
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              explode: false
              required: true
              schema:
                example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
                type: string
                x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
                x-konfig-generated-schema: konfig-generated-schema-components-responses-401Error-headers-x-fapi-interaction-id-schema
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
          description: Forbidden
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
          x-do-not-generate: true
        "405":
          description: Method Not Allowed
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
        "406":
          description: Not Acceptable
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: 7507f324-b4e6-43f4-8497-153930017bd9
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: 7507f324-b4e6-43f4-8497-153930017bd9
        "429":
          description: Too Many Requests
          headers:
            Retry-After:
              description: Number in seconds to wait
              explode: false
              schema:
                type: integer
              style: simple
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: 1452697e-68ff-499e-a1f2-980da8e2cea1
              explode: false
              schema:
                type: string
              style: simple
              x-konfig-original-example: 1452697e-68ff-499e-a1f2-980da8e2cea1
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              explode: false
              required: true
              schema:
                type: string
              style: simple
          x-do-not-generate: true
      security:
      - BearerAuth: []
      - PSUOAuth2Security:
        - accounts
      summary: Get Accounts
      tags:
      - Accounts
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts
      x-accepts: application/json
  /accounts/{AccountId}:
    get:
      description: "This endpoint enables to get Balances by AccountId. Supports all\
        \ product types -Personal Current Account, Savings Account, Credit Cards,\
        \ Foreign Currency Accounts, Global Money, Working Capital"
      operationId: Accounts_getBalancesByAccountId
      parameters:
      - description: AccountId
        example: ThR-RpLMV5lZzDu8vrfEFg
        explode: false
        in: path
        name: AccountId
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: ThR-RpLMV5lZzDu8vrfEFg
      - description: "The time when the PSU last logged in with the TPP. \nAll dates\
          \ in the HTTP headers are represented as RFC 7231 Full Dates. An example\
          \ is below: \nSun, 10 Sep 2017 19:43:31 UTC"
        example: "Tue, 18 Apr 2023 14:42:25 UTC"
        explode: false
        in: header
        name: x-fapi-auth-date
        required: false
        schema:
          pattern: "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)\
            \ \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
          type: string
        style: simple
        x-konfig-original-example: "Tue, 18 Apr 2023 14:42:25 UTC"
      - description: The PSU's IP address if the PSU is currently logged in with the
          TPP.
        example: 12.201.45.125
        explode: false
        in: header
        name: x-fapi-customer-ip-address
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: 12.201.45.125
      - description: An RFC4122 UID used as a correlation id.
        example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
        explode: false
        in: header
        name: x-fapi-interaction-id
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
      - description: Indicates the user-agent that the PSU is using.
        example: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36\
          \ (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36"
        explode: false
        in: header
        name: x-customer-user-agent
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)\
          \ AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBReadAccount6'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBReadAccount6'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBReadAccount6'
          description: OK
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
          description: Bad request
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
          x-do-not-generate: true
        "401":
          description: Unauthorized
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              explode: false
              required: true
              schema:
                example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
                type: string
                x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
                x-konfig-generated-schema: konfig-generated-schema-components-responses-401Error-headers-x-fapi-interaction-id-schema
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
          description: Forbidden
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
          x-do-not-generate: true
        "405":
          description: Method Not Allowed
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
        "406":
          description: Not Acceptable
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: 7507f324-b4e6-43f4-8497-153930017bd9
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: 7507f324-b4e6-43f4-8497-153930017bd9
        "429":
          description: Too Many Requests
          headers:
            Retry-After:
              description: Number in seconds to wait
              explode: false
              schema:
                type: integer
              style: simple
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: 1452697e-68ff-499e-a1f2-980da8e2cea1
              explode: false
              schema:
                type: string
              style: simple
              x-konfig-original-example: 1452697e-68ff-499e-a1f2-980da8e2cea1
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              explode: false
              required: true
              schema:
                type: string
              style: simple
          x-do-not-generate: true
      security:
      - BearerAuth: []
      - PSUOAuth2Security:
        - accounts
      summary: Get Accounts by AccountId
      tags:
      - Accounts
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts-AccountId
      x-accepts: application/json
  /accounts/{AccountId}/balances:
    get:
      description: "This endpoint enables to get Balances by AccountId. Supports all\
        \ product types -Personal Current Account, Savings Account, Credit Cards,\
        \ Foreign Currency Accounts, Global Money, Working Capital"
      operationId: Balances_getByAccountId
      parameters:
      - description: AccountId
        example: ThR-RpLMV5lZzDu8vrfEFg
        explode: false
        in: path
        name: AccountId
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: ThR-RpLMV5lZzDu8vrfEFg
      - description: "The time when the PSU last logged in with the TPP. \nAll dates\
          \ in the HTTP headers are represented as RFC 7231 Full Dates. An example\
          \ is below: \nSun, 10 Sep 2017 19:43:31 UTC"
        example: "Tue, 18 Apr 2023 14:42:25 UTC"
        explode: false
        in: header
        name: x-fapi-auth-date
        required: false
        schema:
          pattern: "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)\
            \ \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
          type: string
        style: simple
        x-konfig-original-example: "Tue, 18 Apr 2023 14:42:25 UTC"
      - description: The PSU's IP address if the PSU is currently logged in with the
          TPP.
        example: 12.201.45.125
        explode: false
        in: header
        name: x-fapi-customer-ip-address
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: 12.201.45.125
      - description: An RFC4122 UID used as a correlation id.
        example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
        explode: false
        in: header
        name: x-fapi-interaction-id
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
      - description: Indicates the user-agent that the PSU is using.
        example: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36\
          \ (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36"
        explode: false
        in: header
        name: x-customer-user-agent
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)\
          \ AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBReadBalance1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBReadBalance1'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBReadBalance1'
          description: OK
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
          description: Bad request
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
          x-do-not-generate: true
        "401":
          description: Unauthorized
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              explode: false
              required: true
              schema:
                example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
                type: string
                x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
                x-konfig-generated-schema: konfig-generated-schema-components-responses-401Error-headers-x-fapi-interaction-id-schema
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
          description: Forbidden
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
          x-do-not-generate: true
        "405":
          description: Method Not Allowed
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
        "406":
          description: Not Acceptable
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: 7507f324-b4e6-43f4-8497-153930017bd9
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: 7507f324-b4e6-43f4-8497-153930017bd9
        "429":
          description: Too Many Requests
          headers:
            Retry-After:
              description: Number in seconds to wait
              explode: false
              schema:
                type: integer
              style: simple
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: 1452697e-68ff-499e-a1f2-980da8e2cea1
              explode: false
              schema:
                type: string
              style: simple
              x-konfig-original-example: 1452697e-68ff-499e-a1f2-980da8e2cea1
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              explode: false
              required: true
              schema:
                type: string
              style: simple
          x-do-not-generate: true
      security:
      - BearerAuth: []
      - PSUOAuth2Security:
        - accounts
      summary: Get Account Balances
      tags:
      - Balances
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts-AccountId-balances
      x-accepts: application/json
  /accounts/{AccountId}/direct-debits:
    get:
      description: This endpoint enables to get Direct Debits by AccountId. Supported
        product type is Personal Current Account
      operationId: DirectDebits_getByAccountId
      parameters:
      - description: AccountId
        example: ThR-RpLMV5lZzDu8vrfEFg
        explode: false
        in: path
        name: AccountId
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: ThR-RpLMV5lZzDu8vrfEFg
      - description: "The time when the PSU last logged in with the TPP. \nAll dates\
          \ in the HTTP headers are represented as RFC 7231 Full Dates. An example\
          \ is below: \nSun, 10 Sep 2017 19:43:31 UTC"
        example: "Tue, 18 Apr 2023 14:42:25 UTC"
        explode: false
        in: header
        name: x-fapi-auth-date
        required: false
        schema:
          pattern: "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)\
            \ \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
          type: string
        style: simple
        x-konfig-original-example: "Tue, 18 Apr 2023 14:42:25 UTC"
      - description: The PSU's IP address if the PSU is currently logged in with the
          TPP.
        example: 12.201.45.125
        explode: false
        in: header
        name: x-fapi-customer-ip-address
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: 12.201.45.125
      - description: An RFC4122 UID used as a correlation id.
        example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
        explode: false
        in: header
        name: x-fapi-interaction-id
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
      - description: Indicates the user-agent that the PSU is using.
        example: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36\
          \ (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36"
        explode: false
        in: header
        name: x-customer-user-agent
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)\
          \ AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBReadDirectDebit2'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBReadDirectDebit2'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBReadDirectDebit2'
          description: OK
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: 7507f324-b4e6-43f4-8497-153930017bd9
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: 7507f324-b4e6-43f4-8497-153930017bd9
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
          description: Bad request
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
          x-do-not-generate: true
        "401":
          description: Unauthorized
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              explode: false
              required: true
              schema:
                example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
                type: string
                x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
                x-konfig-generated-schema: konfig-generated-schema-components-responses-401Error-headers-x-fapi-interaction-id-schema
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
          description: Forbidden
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
          x-do-not-generate: true
        "404":
          description: Not found
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
        "405":
          description: Method Not Allowed
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
        "406":
          description: Not Acceptable
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: 7507f324-b4e6-43f4-8497-153930017bd9
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: 7507f324-b4e6-43f4-8497-153930017bd9
        "429":
          description: Too Many Requests
          headers:
            Retry-After:
              description: Number in seconds to wait
              explode: false
              schema:
                type: integer
              style: simple
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: 1452697e-68ff-499e-a1f2-980da8e2cea1
              explode: false
              schema:
                type: string
              style: simple
              x-konfig-original-example: 1452697e-68ff-499e-a1f2-980da8e2cea1
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              explode: false
              required: true
              schema:
                type: string
              style: simple
          x-do-not-generate: true
      security:
      - BearerAuth: []
      - PSUOAuth2Security:
        - accounts
      summary: Get Account Direct Debits
      tags:
      - Direct Debits
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts-AccountId-direct-debits
      x-accepts: application/json
  /accounts/{AccountId}/scheduled-payments:
    get:
      description: "This endpoint enables to get Scheduled Payments by AccountId.\
        \ Supported product types -Personal Current Account, Savings Account, Foreign\
        \ Currency Accounts, Global Money."
      operationId: ScheduledPayments_getByAccountId
      parameters:
      - description: AccountId
        example: ThR-RpLMV5lZzDu8vrfEFg
        explode: false
        in: path
        name: AccountId
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: ThR-RpLMV5lZzDu8vrfEFg
      - description: "The time when the PSU last logged in with the TPP. \nAll dates\
          \ in the HTTP headers are represented as RFC 7231 Full Dates. An example\
          \ is below: \nSun, 10 Sep 2017 19:43:31 UTC"
        example: "Tue, 18 Apr 2023 14:42:25 UTC"
        explode: false
        in: header
        name: x-fapi-auth-date
        required: false
        schema:
          pattern: "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)\
            \ \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
          type: string
        style: simple
        x-konfig-original-example: "Tue, 18 Apr 2023 14:42:25 UTC"
      - description: The PSU's IP address if the PSU is currently logged in with the
          TPP.
        example: 12.201.45.125
        explode: false
        in: header
        name: x-fapi-customer-ip-address
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: 12.201.45.125
      - description: An RFC4122 UID used as a correlation id.
        example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
        explode: false
        in: header
        name: x-fapi-interaction-id
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
      - description: Indicates the user-agent that the PSU is using.
        example: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36\
          \ (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36"
        explode: false
        in: header
        name: x-customer-user-agent
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)\
          \ AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBReadScheduledPayment3'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBReadScheduledPayment3'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBReadScheduledPayment3'
          description: OK
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: 7507f324-b4e6-43f4-8497-153930017bd9
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: 7507f324-b4e6-43f4-8497-153930017bd9
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
          description: Bad request
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
          x-do-not-generate: true
        "401":
          description: Unauthorized
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              explode: false
              required: true
              schema:
                example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
                type: string
                x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
                x-konfig-generated-schema: konfig-generated-schema-components-responses-401Error-headers-x-fapi-interaction-id-schema
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
          description: Forbidden
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
          x-do-not-generate: true
        "404":
          description: Not found
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
        "405":
          description: Method Not Allowed
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
        "406":
          description: Not Acceptable
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: 7507f324-b4e6-43f4-8497-153930017bd9
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: 7507f324-b4e6-43f4-8497-153930017bd9
        "429":
          description: Too Many Requests
          headers:
            Retry-After:
              description: Number in seconds to wait
              explode: false
              schema:
                type: integer
              style: simple
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: 1452697e-68ff-499e-a1f2-980da8e2cea1
              explode: false
              schema:
                type: string
              style: simple
              x-konfig-original-example: 1452697e-68ff-499e-a1f2-980da8e2cea1
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              explode: false
              required: true
              schema:
                type: string
              style: simple
          x-do-not-generate: true
      security:
      - BearerAuth: []
      - PSUOAuth2Security:
        - accounts
      summary: Get Account Scheduled Payments
      tags:
      - Scheduled Payments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts-AccountId-scheduled-payments
      x-accepts: application/json
  /accounts/{AccountId}/standing-orders:
    get:
      description: "This endpoint enables to get Standing Orders by AccountId. Supported\
        \ product types -Personal Current Account, Foreign Currency Accounts."
      operationId: StandingOrders_getByAccountId
      parameters:
      - description: AccountId
        example: ThR-RpLMV5lZzDu8vrfEFg
        explode: false
        in: path
        name: AccountId
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: ThR-RpLMV5lZzDu8vrfEFg
      - description: "The time when the PSU last logged in with the TPP. \nAll dates\
          \ in the HTTP headers are represented as RFC 7231 Full Dates. An example\
          \ is below: \nSun, 10 Sep 2017 19:43:31 UTC"
        example: "Tue, 18 Apr 2023 14:42:25 UTC"
        explode: false
        in: header
        name: x-fapi-auth-date
        required: false
        schema:
          pattern: "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)\
            \ \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
          type: string
        style: simple
        x-konfig-original-example: "Tue, 18 Apr 2023 14:42:25 UTC"
      - description: The PSU's IP address if the PSU is currently logged in with the
          TPP.
        example: 12.201.45.125
        explode: false
        in: header
        name: x-fapi-customer-ip-address
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: 12.201.45.125
      - description: An RFC4122 UID used as a correlation id.
        example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
        explode: false
        in: header
        name: x-fapi-interaction-id
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
      - description: Indicates the user-agent that the PSU is using.
        example: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36\
          \ (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36"
        explode: false
        in: header
        name: x-customer-user-agent
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)\
          \ AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBReadStandingOrder6'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBReadStandingOrder6'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBReadStandingOrder6'
          description: OK
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: 7507f324-b4e6-43f4-8497-153930017bd9
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: 7507f324-b4e6-43f4-8497-153930017bd9
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
          description: Bad request
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
          x-do-not-generate: true
        "401":
          description: Unauthorized
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              explode: false
              required: true
              schema:
                example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
                type: string
                x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
                x-konfig-generated-schema: konfig-generated-schema-components-responses-401Error-headers-x-fapi-interaction-id-schema
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
          description: Forbidden
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
          x-do-not-generate: true
        "404":
          description: Not found
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
        "405":
          description: Method Not Allowed
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
        "406":
          description: Not Acceptable
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: 7507f324-b4e6-43f4-8497-153930017bd9
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: 7507f324-b4e6-43f4-8497-153930017bd9
        "429":
          description: Too Many Requests
          headers:
            Retry-After:
              description: Number in seconds to wait
              explode: false
              schema:
                type: integer
              style: simple
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: 1452697e-68ff-499e-a1f2-980da8e2cea1
              explode: false
              schema:
                type: string
              style: simple
              x-konfig-original-example: 1452697e-68ff-499e-a1f2-980da8e2cea1
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              explode: false
              required: true
              schema:
                type: string
              style: simple
          x-do-not-generate: true
      security:
      - BearerAuth: []
      - PSUOAuth2Security:
        - accounts
      summary: Get Account Standing Orders
      tags:
      - Standing Orders
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts-AccountId-standing-orders
      x-accepts: application/json
  /accounts/{AccountId}/transactions:
    get:
      description: "This endpoint enables to get account Transactions by AccountId.\
        \ Supports all product types -Personal Current Account, Savings Account, Credit\
        \ Cards, Foreign Currency Accounts, Global Money, Working Capital"
      operationId: Transactions_getByAccountId
      parameters:
      - description: AccountId
        example: ThR-RpLMV5lZzDu8vrfEFg
        explode: false
        in: path
        name: AccountId
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: ThR-RpLMV5lZzDu8vrfEFg
      - description: "The time when the PSU last logged in with the TPP. \nAll dates\
          \ in the HTTP headers are represented as RFC 7231 Full Dates. An example\
          \ is below: \nSun, 10 Sep 2017 19:43:31 UTC"
        example: "Tue, 18 Apr 2023 14:42:25 UTC"
        explode: false
        in: header
        name: x-fapi-auth-date
        required: false
        schema:
          pattern: "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)\
            \ \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
          type: string
        style: simple
        x-konfig-original-example: "Tue, 18 Apr 2023 14:42:25 UTC"
      - description: The PSU's IP address if the PSU is currently logged in with the
          TPP.
        example: 12.201.45.125
        explode: false
        in: header
        name: x-fapi-customer-ip-address
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: 12.201.45.125
      - description: An RFC4122 UID used as a correlation id.
        example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
        explode: false
        in: header
        name: x-fapi-interaction-id
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
      - description: Indicates the user-agent that the PSU is using.
        example: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36\
          \ (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36"
        explode: false
        in: header
        name: x-customer-user-agent
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)\
          \ AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36"
      - description: |-
          The UTC ISO 8601 Date Time to filter transactions FROM
          NB Time component is optional - set to 00:00:00 for just Date.
          If the Date Time contains a timezone, the ASPSP must ignore the timezone component.
        example: 2023-01-04T13:21:07+00:00
        explode: true
        in: query
        name: fromBookingDateTime
        required: false
        schema:
          format: date-time
          type: string
        style: form
        x-konfig-original-example: 2023-01-04T13:21:07+00:00
      - description: |-
          The UTC ISO 8601 Date Time to filter transactions TO
          NB Time component is optional - set to 00:00:00 for just Date.
          If the Date Time contains a timezone, the ASPSP must ignore the timezone component.
        example: 2023-02-04T13:21:07+00:00
        explode: true
        in: query
        name: toBookingDateTime
        required: false
        schema:
          format: date-time
          type: string
        style: form
        x-konfig-original-example: 2023-02-04T13:21:07+00:00
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBReadTransaction6'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBReadTransaction6'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBReadTransaction6'
          description: OK
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
          description: Bad request
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
          x-do-not-generate: true
        "401":
          description: Unauthorized
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              explode: false
              required: true
              schema:
                example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
                type: string
                x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
                x-konfig-generated-schema: konfig-generated-schema-components-responses-401Error-headers-x-fapi-interaction-id-schema
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
          description: Forbidden
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
          x-do-not-generate: true
        "405":
          description: Method Not Allowed
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
        "406":
          description: Not Acceptable
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: 7507f324-b4e6-43f4-8497-153930017bd9
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: 7507f324-b4e6-43f4-8497-153930017bd9
        "429":
          description: Too Many Requests
          headers:
            Retry-After:
              description: Number in seconds to wait
              explode: false
              schema:
                type: integer
              style: simple
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: 1452697e-68ff-499e-a1f2-980da8e2cea1
              explode: false
              schema:
                type: string
              style: simple
              x-konfig-original-example: 1452697e-68ff-499e-a1f2-980da8e2cea1
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              explode: false
              required: true
              schema:
                type: string
              style: simple
          x-do-not-generate: true
      security:
      - BearerAuth: []
      - PSUOAuth2Security:
        - accounts
      summary: Get Account Transactions
      tags:
      - Transactions
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts-AccountId-transactions
      x-accepts: application/json
  /accounts/{AccountId}/beneficiaries:
    get:
      description: This endpoint enables to get Beneficiaries by AccountId
      operationId: Beneficiaries_getByAccountId
      parameters:
      - description: AccountId
        example: ThR-RpLMV5lZzDu8vrfEFg
        explode: false
        in: path
        name: AccountId
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: ThR-RpLMV5lZzDu8vrfEFg
      - description: "The time when the PSU last logged in with the TPP. \nAll dates\
          \ in the HTTP headers are represented as RFC 7231 Full Dates. An example\
          \ is below: \nSun, 10 Sep 2017 19:43:31 UTC"
        example: "Tue, 18 Apr 2023 14:42:25 UTC"
        explode: false
        in: header
        name: x-fapi-auth-date
        required: false
        schema:
          pattern: "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)\
            \ \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
          type: string
        style: simple
        x-konfig-original-example: "Tue, 18 Apr 2023 14:42:25 UTC"
      - description: The PSU's IP address if the PSU is currently logged in with the
          TPP.
        example: 12.201.45.125
        explode: false
        in: header
        name: x-fapi-customer-ip-address
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: 12.201.45.125
      - description: An RFC4122 UID used as a correlation id.
        example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
        explode: false
        in: header
        name: x-fapi-interaction-id
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
      - description: Indicates the user-agent that the PSU is using.
        example: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36\
          \ (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36"
        explode: false
        in: header
        name: x-customer-user-agent
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)\
          \ AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBReadBeneficiary5'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBReadBeneficiary5'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBReadBeneficiary5'
          description: OK
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
          description: Bad request
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
          x-do-not-generate: true
        "401":
          description: Unauthorized
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              explode: false
              required: true
              schema:
                example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
                type: string
                x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
                x-konfig-generated-schema: konfig-generated-schema-components-responses-401Error-headers-x-fapi-interaction-id-schema
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
          description: Forbidden
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
          x-do-not-generate: true
        "404":
          description: Not found
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
        "405":
          description: Method Not Allowed
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
        "406":
          description: Not Acceptable
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: 7507f324-b4e6-43f4-8497-153930017bd9
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: 7507f324-b4e6-43f4-8497-153930017bd9
        "429":
          description: Too Many Requests
          headers:
            Retry-After:
              description: Number in seconds to wait
              explode: false
              schema:
                type: integer
              style: simple
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: 1452697e-68ff-499e-a1f2-980da8e2cea1
              explode: false
              schema:
                type: string
              style: simple
              x-konfig-original-example: 1452697e-68ff-499e-a1f2-980da8e2cea1
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              explode: false
              required: true
              schema:
                type: string
              style: simple
          x-do-not-generate: true
      security:
      - BearerAuth: []
      - PSUOAuth2Security:
        - accounts
      summary: Get Account Beneficiaries
      tags:
      - Beneficiaries
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts-AccountId-beneficiaries
      x-accepts: application/json
  /accounts/{AccountId}/parties:
    get:
      description: This endpoint enables to get Parties by AccountId
      operationId: Parties_getByAccountId
      parameters:
      - description: AccountId
        example: ThR-RpLMV5lZzDu8vrfEFg
        explode: false
        in: path
        name: AccountId
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: ThR-RpLMV5lZzDu8vrfEFg
      - description: "The time when the PSU last logged in with the TPP. \nAll dates\
          \ in the HTTP headers are represented as RFC 7231 Full Dates. An example\
          \ is below: \nSun, 10 Sep 2017 19:43:31 UTC"
        example: "Tue, 18 Apr 2023 14:42:25 UTC"
        explode: false
        in: header
        name: x-fapi-auth-date
        required: false
        schema:
          pattern: "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)\
            \ \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
          type: string
        style: simple
        x-konfig-original-example: "Tue, 18 Apr 2023 14:42:25 UTC"
      - description: The PSU's IP address if the PSU is currently logged in with the
          TPP.
        example: 12.201.45.125
        explode: false
        in: header
        name: x-fapi-customer-ip-address
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: 12.201.45.125
      - description: An RFC4122 UID used as a correlation id.
        example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
        explode: false
        in: header
        name: x-fapi-interaction-id
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
      - description: Indicates the user-agent that the PSU is using.
        example: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36\
          \ (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36"
        explode: false
        in: header
        name: x-customer-user-agent
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)\
          \ AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBReadParty3'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBReadParty3'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBReadParty3'
          description: OK
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: 7507f324-b4e6-43f4-8497-153930017bd9
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: 7507f324-b4e6-43f4-8497-153930017bd9
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/jose+jwe:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
          description: Bad request
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
              explode: false
              required: true
              schema:
                type: string
              style: simple
              x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
          x-do-not-generate: true
        "401":
          description: Unauthorized
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              explode: false
              required: true
              schema:
                example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
                type: string
                x-konfig-original-example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
[...]
